body{
    
    background-color: bisque;
}


.deal{
    
   background-color: chartreuse; 
}
    
.fer{
    
    background-color: cyan;
}
    
.der{
    
    background-color: darkorange;
}
    
.amaze{
    
    background-color: gray;
}    
    
    
.ser{
    
    background-color: fuchsia;
}    







