body{
 background-color: azure;       
}

.food{
    background-color: antiquewhite;
}




.gmf{
 background-color: blue;   
    
    
}
.education{
  background-color: cadetblue  
    
}
.doctor{
 background-color: cornflowerblue;   
    
    
}



