body{
    background-color: aqua;
}



.konza{
    
  background-color: burlywood;  
}


.solution1{
    
    background-color: blueviolet;
}

.solution3{
    
    background-color: blue;
}

.solution4{
    background-color: bisque;
}

.solution2{
  background-color: chartreuse;  
    
    
}
    
    

       

