body{
 background-color: antiquewhite;   
    
}
    
.solution1{
    
    background-color: aquamarine;
}    

.solution 2{
    
    background-color: blueviolet;
}

.solution 3{
    background-color: blue;
    
}   

        
    
    
    