body{
    
 background-color: aqua;   
   
}

.solution1{
    
    
    
    background-color: blueviolet;
}   
    
.solution2{
    
    
    
    background-color: chartreuse
}    
.solution3{
    
    
    
    background-color: crimson
}
.solution4{
    
    
    
    background-color: darkgoldenrod
}