body{
    
  background-color:peachpuff;
}

.intro{
    
 background-color: chartreuse;
}



.tree{
    
  background-color: darkgreen;  
}

.red{
    
background-color: burlywood ;   
}

.gui{
    
 background-color: crimson ;   
}

.tea{
    
background-color: darkgoldenrod ;   
}

