body{
    
background-color: blue;
}

.solution 1{
    
    background-color: brown;   
}

.solution 2{
    
 background-color: chartreuse;   
}
   
.solution 3{
    
    background-color: crimson;
}
    
.solution 4{
    
    background-color: darkgreen
}



    
    




