body{
background-color: blue;
    
}
.insecurity{
background-color: red;
    
}
.diseases{
 background-color: greenyellow;
    
}
.unemployment{
    
 background-color: whitesmoke;
    
}
.solutions{
    background-color: yellow;
    
}.solution2{
    
    background-color: brown;
}
.ban{
    
    background-color: hotpink;
}